.login-page {
  background-color: #f8f9fa;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.right-banner {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  color: white;
  text-align: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-control {
  background-color: #f0f2f5;
  border: none;
  padding: 0.75rem 1.25rem;
  border-radius: 50px;
}

.btn-primary {
  background-color: #4c4cff;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}

.btn-light {
  background-color: #ddd;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}

.brand {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  color: #4c4cff;
}
