.toast-container-top {
  position: fixed;
  top: 40px;
  z-index: 9999; /* must be higher than app-header or sidebar */
  display: flex;
  flex-direction: column;
  gap: 12px;
  pointer-events: none; /* so it doesn't block clicks */
}
